<app-title title="Defer Triggers"></app-title>

<section>
  <h1 class="text-xl">Interaciones</h1>
  <hr class="mr-2" />

  @defer (on interaction) {
  <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
    <span>OnInteraction</span>
  </app-heavy-loaders-fast>
  }@placeholder {
  <div class="w-full h-20 bg-purple-100">Click en el div</div>
  }
</section>

<section>
  <hr class="mr-2" />

  <button
    #btnInteraction
    class="p-2 bg-blue-500 hover:bg-blue-700 transtition-all rounded text-white my-2"
  >
    Click me
  </button>

  @defer (on interaction(btnInteraction)) {
  <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
    <span>OnInteraction</span>
  </app-heavy-loaders-fast>
  }@placeholder {
  <div class="w-full h-20 bg-purple-100">Click en el botón</div>
  }
</section>
<section>
  <hr class="mr-2" />

  <button
    #btnInteractionHover
    class="p-2 bg-blue-500 hover:bg-blue-700 transtition-all rounded text-white my-2"
  >
    Click me
  </button>

  @defer (on hover(btnInteractionHover)) {
  <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
    <span>OnInteraction</span>
  </app-heavy-loaders-fast>
  }@placeholder {
  <div class="w-full h-20 bg-purple-100">Click en el botón</div>
  }
</section>


<section>
  <hr class="mr-2" />
  @defer (on immediate) {
  <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
    <span>On Immediate</span>
  </app-heavy-loaders-fast>
  }@placeholder {
  <div class="w-full h-20 bg-purple-100">PlaceHoder</div>
  }
</section>

<section>
  <hr class="mr-2" />
  @defer (on timer(2000)) {
  <app-heavy-loaders-fast cssClass="bg-green-500 h-20">
    <span>OnTimer 2seg</span>
  </app-heavy-loaders-fast>
  }@placeholder {
  <div class="w-full h-20 bg-purple-100">PlaceHoder</div>
  }
</section>

<section>
  <hr class="mr-2" />
  <!-- prepare el código - no lo carga -->
  @defer (on hover; prefetch on idle) { 
  <app-heavy-loaders-fast cssClass="bg-green-500 h-20">
    <span>on Hover, Idle</span>
  </app-heavy-loaders-fast>
  }@placeholder {
  <div class="w-full h-20 bg-purple-100">PlaceHoder</div>
  }
</section>
